{% extends "_layouts/application.twig" %}

{% block content %}
  <h1 class="title">
    {{ messages.404.title }}
  </h1>
  <p>
    {{ messages.404.body }}<a href="{{ site.link }}">{{ messages.404.link_text }}</a>.
  </p>
{% endblock %}
