{% extends "_layouts/application.twig" %}

{% block content %}
  {% include 'molecules/hero/hero.twig' with { 
    subHeading: post.title,
    classList: ['py-6 mb-6']
  } only %}

  <div class="container">
    <article class="post-type-{{ post.post_type }} pretty" id="post-{{ post.ID }}">
      {{ post.content }}
    </article>
  </div>
{% endblock %}
