{% extends "_layouts/application.twig" %}

{% block content %}
  <form action="{{ site.wp_link }}/wp-login.php?action=postpass" method="post">
    <label
      for="pwbox-{{ post.ID }}"
      class="label"
    >
      Password
    </label>
    <input
      class="input"
      type="password"
      maxlength="20"
      name="post_password"
      id="pwbox-{{ post.ID }}"
    />
    <input
      type="submit"
      name="Submit"
      value="Submit"
    />
  </form>
{% endblock %}
