a {
  @apply underline;

  color: inherit;
}

a:hover,
a:focus {
  @apply text-primary-base;
}

.fancy-link {
  @apply
    text-primary-base
    text-base
    font-bold
    underline
    inline-block
    transition;

  &:hover,
  &:focus {
    @apply text-primary-dark;
  }
}