{# Merge both WordPress navs to pass into the mobile menu #}
{% set combinedNavs = menu.get_items %}
{# If no top_menu, remove this and the data context in timber.php #}
{% if top_menu.get_items | default(false) %}
	{% set combinedNavs = combinedNavs|merge(top_menu.get_items) %}
{% endif %}

<header>
	<div class="container">
		<div class="flex flex-wrap items-center">
			<div class="">
				{% include '@components/atoms/logo/logo.twig' with {
					text: site.title,
					url: site.link
				} only %}
			</div>
			{% include '@components/molecules/nav/nav.twig' with {
				items: menu.get_items,
				heading: "Main Navigation",
				classList: ['ml-4', 'hidden', 'md:inline-block']
			} only %}

			<div class="ml-auto">
				{% include '@components/molecules/mobile-menu/mobile-menu.twig' with {
					items: combinedNavs,
					text: site.title,
					url: site.link
				} only %}
			</div>
		</div>
	</div>
</header>
